body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:765px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5965 {
  position:absolute;
  left:149px;
  top:261px;
  width:163px;
  height:25px;
}
#u5965_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5966 {
  position:absolute;
  left:50px;
  top:267px;
  width:89px;
  height:16px;
}
#u5967 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5968 {
  position:absolute;
  left:149px;
  top:305px;
  width:163px;
  height:25px;
}
#u5968_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5969 {
  position:absolute;
  left:50px;
  top:309px;
  width:71px;
  height:16px;
}
#u5970 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5971 {
  position:absolute;
  left:50px;
  top:181px;
  width:57px;
  height:16px;
}
#u5972 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5973 {
  position:absolute;
  left:50px;
  top:364px;
  width:57px;
  height:16px;
}
#u5974 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5975 {
  position:absolute;
  left:50px;
  top:219px;
  width:43px;
  height:16px;
}
#u5976 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5977 {
  position:absolute;
  left:398px;
  top:179px;
  width:71px;
  height:16px;
}
#u5978 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5979 {
  position:absolute;
  left:398px;
  top:231px;
  width:99px;
  height:16px;
}
#u5980 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5981 {
  position:absolute;
  left:398px;
  top:280px;
  width:57px;
  height:16px;
}
#u5982 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5983 {
  position:absolute;
  left:398px;
  top:326px;
  width:43px;
  height:16px;
}
#u5984 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5985 {
  position:absolute;
  left:398px;
  top:367px;
  width:29px;
  height:16px;
}
#u5986 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5987 {
  position:absolute;
  left:527px;
  top:277px;
  width:155px;
  height:22px;
}
#u5987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5987_input:disabled {
  color:grayText;
}
#u5987_ann {
  position:absolute;
  left:675px;
  top:273px;
  width:1px;
  height:1px;
}
#u5988 {
  position:absolute;
  left:527px;
  top:323px;
  width:155px;
  height:22px;
}
#u5988_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5988_input:disabled {
  color:grayText;
}
#u5988_ann {
  position:absolute;
  left:675px;
  top:319px;
  width:1px;
  height:1px;
}
#u5989 {
  position:absolute;
  left:527px;
  top:364px;
  width:155px;
  height:22px;
}
#u5989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5989_input:disabled {
  color:grayText;
}
#u5989_ann {
  position:absolute;
  left:675px;
  top:360px;
  width:1px;
  height:1px;
}
#u5990 {
  position:absolute;
  left:149px;
  top:175px;
  width:200px;
  height:22px;
}
#u5990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5990_input:disabled {
  color:grayText;
}
#u5991 {
  position:absolute;
  left:149px;
  top:361px;
  width:200px;
  height:22px;
}
#u5991_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5991_input:disabled {
  color:grayText;
}
#u5992 {
  position:absolute;
  left:149px;
  top:213px;
  width:200px;
  height:22px;
}
#u5992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5992_input:disabled {
  color:grayText;
}
#u5993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5993 {
  position:absolute;
  left:65px;
  top:28px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5994 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u5995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5995 {
  position:absolute;
  left:141px;
  top:873px;
  width:140px;
  height:40px;
}
#u5996 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5997 {
  position:absolute;
  left:348px;
  top:873px;
  width:140px;
  height:40px;
}
#u5998 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u5999 {
  position:absolute;
  left:527px;
  top:178px;
  width:155px;
  height:22px;
}
#u5999_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u5999_input:disabled {
  color:grayText;
}
#u5999_ann {
  position:absolute;
  left:675px;
  top:174px;
  width:1px;
  height:1px;
}
#u6000 {
  position:absolute;
  left:527px;
  top:225px;
  width:155px;
  height:22px;
}
#u6000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6000_input:disabled {
  color:grayText;
}
#u6000_ann {
  position:absolute;
  left:675px;
  top:221px;
  width:1px;
  height:1px;
}
#u6001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6001 {
  position:absolute;
  left:50px;
  top:105px;
  width:57px;
  height:16px;
}
#u6002 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6003 {
  position:absolute;
  left:149px;
  top:103px;
  width:200px;
  height:25px;
}
#u6003_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6003_ann {
  position:absolute;
  left:342px;
  top:99px;
  width:1px;
  height:1px;
}
#u6004 {
  position:absolute;
  left:50px;
  top:746px;
  width:533px;
  height:95px;
}
#u6005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u6005 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u6006 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u6007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u6007 {
  position:absolute;
  left:176px;
  top:0px;
  width:176px;
  height:30px;
}
#u6008 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u6009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u6009 {
  position:absolute;
  left:352px;
  top:0px;
  width:176px;
  height:30px;
}
#u6010 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u6011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u6011 {
  position:absolute;
  left:0px;
  top:30px;
  width:176px;
  height:30px;
}
#u6012 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u6013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u6013 {
  position:absolute;
  left:176px;
  top:30px;
  width:176px;
  height:30px;
}
#u6014 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u6015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u6015 {
  position:absolute;
  left:352px;
  top:30px;
  width:176px;
  height:30px;
}
#u6016 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  word-wrap:break-word;
}
#u6017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u6017 {
  position:absolute;
  left:0px;
  top:60px;
  width:176px;
  height:30px;
}
#u6018 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u6019 {
  position:absolute;
  left:176px;
  top:60px;
  width:176px;
  height:30px;
}
#u6020 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:30px;
}
#u6021 {
  position:absolute;
  left:352px;
  top:60px;
  width:176px;
  height:30px;
}
#u6022 {
  position:absolute;
  left:2px;
  top:7px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6023 {
  position:absolute;
  left:65px;
  top:720px;
  width:99px;
  height:16px;
}
#u6024 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6025 {
  position:absolute;
  left:182px;
  top:720px;
  width:57px;
  height:16px;
}
#u6026 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6027 {
  position:absolute;
  left:149px;
  top:491px;
  width:200px;
  height:25px;
}
#u6027_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6028 {
  position:absolute;
  left:54px;
  top:496px;
  width:43px;
  height:16px;
}
#u6029 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6030 {
  position:absolute;
  left:497px;
  top:496px;
  width:200px;
  height:25px;
}
#u6030_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6031 {
  position:absolute;
  left:398px;
  top:501px;
  width:57px;
  height:16px;
}
#u6032 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6033 {
  position:absolute;
  left:149px;
  top:544px;
  width:560px;
  height:151px;
}
#u6033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:151px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6034 {
  position:absolute;
  left:54px;
  top:550px;
  width:29px;
  height:16px;
}
#u6035 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6036 {
  position:absolute;
  left:50px;
  top:138px;
  width:29px;
  height:16px;
}
#u6037 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6038 {
  position:absolute;
  left:398px;
  top:138px;
  width:71px;
  height:16px;
}
#u6039 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6040 {
  position:absolute;
  left:146px;
  top:138px;
  width:225px;
  height:16px;
}
#u6041 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u6042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6042 {
  position:absolute;
  left:489px;
  top:138px;
  width:101px;
  height:16px;
}
#u6043 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6044 {
  position:absolute;
  left:50px;
  top:448px;
  width:99px;
  height:16px;
}
#u6045 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u6046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6046 {
  position:absolute;
  left:172px;
  top:448px;
  width:29px;
  height:16px;
}
#u6047 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6048 {
  position:absolute;
  left:398px;
  top:448px;
  width:57px;
  height:16px;
}
#u6049 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6050 {
  position:absolute;
  left:489px;
  top:444px;
  width:200px;
  height:25px;
}
#u6050_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6051 {
  position:absolute;
  left:708px;
  top:447px;
  width:57px;
  height:20px;
}
#u6052 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u6051_ann {
  position:absolute;
  left:758px;
  top:443px;
  width:1px;
  height:1px;
}
#u6053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6053 {
  position:absolute;
  left:50px;
  top:404px;
  width:57px;
  height:16px;
}
#u6054 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6055 {
  position:absolute;
  left:149px;
  top:401px;
  width:200px;
  height:22px;
}
#u6055_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6055_input:disabled {
  color:grayText;
}
