body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:354px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19625 {
  position:absolute;
  left:7px;
  top:328px;
  width:718px;
  height:354px;
}
#u19626 {
  position:absolute;
  left:2px;
  top:169px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u19627 {
  position:absolute;
  left:31px;
  top:206px;
  width:1px;
  height:16px;
}
#u19628 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u19629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u19629 {
  position:absolute;
  left:31px;
  top:270px;
  width:1px;
  height:16px;
}
#u19630 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u19631 {
  position:absolute;
  left:115px;
  top:492px;
  width:199px;
  height:25px;
}
#u19631_input {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19631_ann {
  position:absolute;
  left:307px;
  top:488px;
  width:1px;
  height:1px;
}
#u19632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u19632 {
  position:absolute;
  left:24px;
  top:523px;
  width:1px;
  height:16px;
}
#u19633 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u19634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19634 {
  position:absolute;
  left:24px;
  top:497px;
  width:57px;
  height:16px;
}
#u19635 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19636 {
  position:absolute;
  left:529px;
  top:496px;
  width:87px;
  height:25px;
}
#u19636_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19636_ann {
  position:absolute;
  left:609px;
  top:492px;
  width:1px;
  height:1px;
}
#u19637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u19637 {
  position:absolute;
  left:34px;
  top:692px;
  width:1px;
  height:16px;
}
#u19638 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u19639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19639 {
  position:absolute;
  left:379px;
  top:500px;
  width:57px;
  height:16px;
}
#u19640 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19641 {
  position:absolute;
  left:265px;
  top:717px;
  width:100px;
  height:25px;
}
#u19641_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u19642 {
  position:absolute;
  left:417px;
  top:717px;
  width:92px;
  height:25px;
}
#u19642_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u19643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u19643 {
  position:absolute;
  left:483px;
  top:416px;
  width:1px;
  height:16px;
}
#u19644 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u19645 {
  position:absolute;
  left:467px;
  top:399px;
  width:206px;
  height:25px;
}
#u19645_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19645_ann {
  position:absolute;
  left:666px;
  top:395px;
  width:1px;
  height:1px;
}
#u19646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19646 {
  position:absolute;
  left:379px;
  top:403px;
  width:51px;
  height:16px;
}
#u19647 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u19648 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19649 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:905px;
  height:253px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19650 {
  position:absolute;
  left:7px;
  top:75px;
  width:905px;
  height:253px;
}
#u19651 {
  position:absolute;
  left:2px;
  top:118px;
  width:901px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19652 {
  position:absolute;
  left:118px;
  top:128px;
  width:204px;
  height:25px;
}
#u19652_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19652_ann {
  position:absolute;
  left:315px;
  top:124px;
  width:1px;
  height:1px;
}
#u19653 {
  position:absolute;
  left:118px;
  top:173px;
  width:204px;
  height:25px;
}
#u19653_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19653_ann {
  position:absolute;
  left:315px;
  top:169px;
  width:1px;
  height:1px;
}
#u19654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19654 {
  position:absolute;
  left:34px;
  top:128px;
  width:43px;
  height:16px;
}
#u19655 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19656 {
  position:absolute;
  left:34px;
  top:180px;
  width:41px;
  height:16px;
}
#u19657 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u19658 {
  position:absolute;
  left:118px;
  top:217px;
  width:204px;
  height:25px;
}
#u19658_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19659 {
  position:absolute;
  left:34px;
  top:228px;
  width:57px;
  height:16px;
}
#u19660 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19661 {
  position:absolute;
  left:118px;
  top:261px;
  width:204px;
  height:25px;
}
#u19661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19661_ann {
  position:absolute;
  left:315px;
  top:257px;
  width:1px;
  height:1px;
}
#u19662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19662 {
  position:absolute;
  left:35px;
  top:270px;
  width:57px;
  height:16px;
}
#u19663 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19664 {
  position:absolute;
  left:382px;
  top:217px;
  width:57px;
  height:16px;
}
#u19665 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19666 {
  position:absolute;
  left:382px;
  top:177px;
  width:57px;
  height:16px;
}
#u19667 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19668 {
  position:absolute;
  left:463px;
  top:174px;
  width:204px;
  height:22px;
}
#u19668_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19668_input:disabled {
  color:grayText;
}
#u19668_ann {
  position:absolute;
  left:660px;
  top:170px;
  width:1px;
  height:1px;
}
#u19669 {
  position:absolute;
  left:463px;
  top:217px;
  width:204px;
  height:22px;
}
#u19669_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19669_input:disabled {
  color:grayText;
}
#u19669_ann {
  position:absolute;
  left:660px;
  top:213px;
  width:1px;
  height:1px;
}
#u19670 {
  position:absolute;
  left:463px;
  top:124px;
  width:204px;
  height:25px;
}
#u19670_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19670_ann {
  position:absolute;
  left:660px;
  top:120px;
  width:1px;
  height:1px;
}
#u19671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19671 {
  position:absolute;
  left:396px;
  top:128px;
  width:29px;
  height:16px;
}
#u19672 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19673 {
  position:absolute;
  left:37px;
  top:84px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19674 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u19675 {
  position:absolute;
  left:477px;
  top:263px;
  width:204px;
  height:22px;
}
#u19675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19675_input:disabled {
  color:grayText;
}
#u19675_ann {
  position:absolute;
  left:674px;
  top:259px;
  width:1px;
  height:1px;
}
#u19676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19676 {
  position:absolute;
  left:382px;
  top:266px;
  width:57px;
  height:16px;
}
#u19677 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19678 {
  position:absolute;
  left:34px;
  top:296px;
  width:71px;
  height:16px;
}
#u19679 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19680 {
  position:absolute;
  left:122px;
  top:296px;
  width:41px;
  height:16px;
}
#u19681 {
  position:absolute;
  left:16px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u19680_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19682 {
  position:absolute;
  left:222px;
  top:296px;
  width:37px;
  height:16px;
}
#u19683 {
  position:absolute;
  left:16px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u19682_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19684 {
  position:absolute;
  left:334px;
  top:266px;
  width:13px;
  height:16px;
}
#u19685 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19684_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19684_ann {
  position:absolute;
  left:340px;
  top:262px;
  width:1px;
  height:1px;
}
#u19686 {
  position:absolute;
  left:467px;
  top:446px;
  width:206px;
  height:25px;
}
#u19686_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19686_ann {
  position:absolute;
  left:666px;
  top:442px;
  width:1px;
  height:1px;
}
#u19687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19687 {
  position:absolute;
  left:379px;
  top:450px;
  width:57px;
  height:16px;
}
#u19688 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19689 {
  position:absolute;
  left:110px;
  top:441px;
  width:204px;
  height:25px;
}
#u19689_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19689_ann {
  position:absolute;
  left:307px;
  top:437px;
  width:1px;
  height:1px;
}
#u19690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19690 {
  position:absolute;
  left:34px;
  top:445px;
  width:57px;
  height:16px;
}
#u19691 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19692 {
  position:absolute;
  left:330px;
  top:450px;
  width:17px;
  height:16px;
}
#u19693 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19692_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19692_ann {
  position:absolute;
  left:340px;
  top:446px;
  width:1px;
  height:1px;
}
#u19694 {
  position:absolute;
  left:115px;
  top:560px;
  width:558px;
  height:91px;
}
#u19694_input {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:91px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19695 {
  position:absolute;
  left:24px;
  top:567px;
  width:67px;
  height:16px;
}
#u19696 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u19697 {
  position:absolute;
  left:465px;
  top:496px;
  width:44px;
  height:25px;
}
#u19697_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19697_ann {
  position:absolute;
  left:502px;
  top:492px;
  width:1px;
  height:1px;
}
#u19698 {
  position:absolute;
  left:653px;
  top:496px;
  width:45px;
  height:25px;
}
#u19698_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19698_ann {
  position:absolute;
  left:691px;
  top:492px;
  width:1px;
  height:1px;
}
#u19699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19699 {
  position:absolute;
  left:512px;
  top:500px;
  width:11px;
  height:16px;
}
#u19700 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u19701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19701 {
  position:absolute;
  left:628px;
  top:501px;
  width:15px;
  height:16px;
}
#u19702 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u19703 {
  position:absolute;
  left:110px;
  top:398px;
  width:204px;
  height:25px;
}
#u19703_input {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19703_ann {
  position:absolute;
  left:307px;
  top:394px;
  width:1px;
  height:1px;
}
#u19704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19704 {
  position:absolute;
  left:34px;
  top:403px;
  width:29px;
  height:16px;
}
#u19705 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19706 {
  position:absolute;
  left:27px;
  top:344px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19707 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u19708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19708 {
  position:absolute;
  left:34px;
  top:18px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19709 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
