body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:813px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:404px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19847 {
  position:absolute;
  left:13px;
  top:71px;
  width:800px;
  height:404px;
}
#u19848 {
  position:absolute;
  left:2px;
  top:194px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19849 {
  position:absolute;
  left:26px;
  top:152px;
  width:588px;
  height:159px;
}
#u19850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u19850 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u19851 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u19852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u19852 {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:30px;
}
#u19853 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u19854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u19854 {
  position:absolute;
  left:240px;
  top:0px;
  width:120px;
  height:30px;
}
#u19855 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u19856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u19856 {
  position:absolute;
  left:360px;
  top:0px;
  width:223px;
  height:30px;
}
#u19857 {
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u19858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:66px;
}
#u19858 {
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:66px;
}
#u19859 {
  position:absolute;
  left:2px;
  top:25px;
  width:116px;
  word-wrap:break-word;
}
#u19860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:66px;
}
#u19860 {
  position:absolute;
  left:120px;
  top:30px;
  width:120px;
  height:66px;
}
#u19861 {
  position:absolute;
  left:2px;
  top:25px;
  width:116px;
  word-wrap:break-word;
}
#u19862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:66px;
}
#u19862 {
  position:absolute;
  left:240px;
  top:30px;
  width:120px;
  height:66px;
}
#u19863 {
  position:absolute;
  left:2px;
  top:25px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19862_ann {
  position:absolute;
  left:346px;
  top:30px;
  width:1px;
  height:1px;
}
#u19864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:66px;
}
#u19864 {
  position:absolute;
  left:360px;
  top:30px;
  width:223px;
  height:66px;
}
#u19865 {
  position:absolute;
  left:2px;
  top:25px;
  width:219px;
  word-wrap:break-word;
}
#u19864_ann {
  position:absolute;
  left:569px;
  top:30px;
  width:1px;
  height:1px;
}
#u19866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:58px;
}
#u19866 {
  position:absolute;
  left:0px;
  top:96px;
  width:120px;
  height:58px;
}
#u19867 {
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u19868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:58px;
}
#u19868 {
  position:absolute;
  left:120px;
  top:96px;
  width:120px;
  height:58px;
}
#u19869 {
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  word-wrap:break-word;
}
#u19870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:58px;
}
#u19870 {
  position:absolute;
  left:240px;
  top:96px;
  width:120px;
  height:58px;
}
#u19871 {
  position:absolute;
  left:2px;
  top:21px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:58px;
}
#u19872 {
  position:absolute;
  left:360px;
  top:96px;
  width:223px;
  height:58px;
}
#u19873 {
  position:absolute;
  left:2px;
  top:21px;
  width:219px;
  word-wrap:break-word;
}
#u19874 {
  position:absolute;
  left:26px;
  top:107px;
  width:211px;
  height:25px;
}
#u19874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19874_ann {
  position:absolute;
  left:230px;
  top:103px;
  width:1px;
  height:1px;
}
#u19875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19875 {
  position:absolute;
  left:261px;
  top:107px;
  width:79px;
  height:25px;
}
#u19876 {
  position:absolute;
  left:2px;
  top:4px;
  width:75px;
  word-wrap:break-word;
}
#u19877 {
  position:absolute;
  left:459px;
  top:187px;
  width:59px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19878 {
  position:absolute;
  left:562px;
  top:21px;
  width:90px;
  height:40px;
}
#u19879 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u19880 {
  position:absolute;
  left:518px;
  top:192px;
  width:59px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19881 {
  position:absolute;
  left:284px;
  top:199px;
  width:31px;
  height:20px;
}
#u19882 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u19883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19883 {
  position:absolute;
  left:315px;
  top:199px;
  width:31px;
  height:20px;
}
#u19884 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
