body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:518px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19813 {
  position:absolute;
  left:39px;
  top:143px;
  width:195px;
  height:373px;
}
#u19813_input {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:373px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19814 {
  position:absolute;
  left:321px;
  top:143px;
  width:197px;
  height:373px;
}
#u19814_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:373px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u19815_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:54px;
  height:25px;
}
#u19815 {
  position:absolute;
  left:258px;
  top:282px;
  width:42px;
  height:5px;
}
#u19816 {
  position:absolute;
  left:2px;
  top:-6px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19815_ann {
  position:absolute;
  left:293px;
  top:278px;
  width:1px;
  height:1px;
}
#u19817_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:55px;
  height:25px;
}
#u19817 {
  position:absolute;
  left:258px;
  top:327px;
  width:42px;
  height:5px;
}
#u19818 {
  position:absolute;
  left:2px;
  top:-6px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19817_ann {
  position:absolute;
  left:293px;
  top:323px;
  width:1px;
  height:1px;
}
#u19819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19819 {
  position:absolute;
  left:39px;
  top:24px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19820 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u19821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19821 {
  position:absolute;
  left:85px;
  top:90px;
  width:57px;
  height:16px;
}
#u19822 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19823 {
  position:absolute;
  left:356px;
  top:90px;
  width:85px;
  height:16px;
}
#u19824 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19825 {
  position:absolute;
  left:39px;
  top:118px;
  width:179px;
  height:25px;
}
#u19825_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19826 {
  position:absolute;
  left:321px;
  top:118px;
  width:179px;
  height:25px;
}
#u19826_input {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19827 {
  position:absolute;
  left:268px;
  top:35px;
  width:62px;
  height:16px;
}
#u19828 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u19829 {
  position:absolute;
  left:202px;
  top:541px;
  width:140px;
  height:25px;
}
#u19829_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
